*{
    font-family: 'Times New Roman', Times, serif;
    margin: 0%;
    box-sizing: border-box;
}
table, th, td{
    border: 1px solid;
    border-collapse: collapse;
    padding: 10px;
}

body{
    padding: 10px;
}

.prisutan{
    background-color: lawngreen;
}
.odsutan{
    background-color: orangered;
}
.neuneseno{
    background-color: white;
}